<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
</head>
<body>
  <div layout:fragment="header">Ventas</div>
  <div layout:fragment="buttons">
      <a th:href="@{/sales/add}" class="btn btn-sm btn-primary" id="kt_toolbar_primary_button">Registrar</a>
  </div>
  <div layout:fragment="content">
      <div class="row">
          <div class="col-12">
              <table class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr th:each="sale: ${listSales}">
                          <td th:text="${sale.seller.toString()}"></td>
                          <td th:text="${sale.client.toString()}"></td>
                          <td th:text="${sale.saleDate}"></td>
                          <td th:text="${product.getTotal()}"></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
</html>